@import "bootstrap-sprockets";

$light-green: rgba(40, 182, 44, 1);
$navbar-height: 40px;
$almost-white: rgb(248, 248, 248);
$text-color: rgb(119, 119, 119);
$navbar-inverse-color: $text-color;
$navbar-inverse-bg: rgb(78, 93, 108);
$navbar-inverse-border: #ddd;
$backgroud-color: #eee;
$brand-success: #5cb85c;

$navbar-inverse-link-color: $almost-white;
$navbar-inverse-link-hover-color: $light-green;
$navbar-inverse-link-active-color: $light-green;
$navbar-inverse-brand-color: $almost-white;
//$navbar-inverse-brand-hover-color: $light-green;

$pagination-color: $text-color !default;
$pagination-bg: $backgroud-color !default;
//$pagination-border: #ddd !default;
$pagination-hover-color: $almost-white !default;
$pagination-hover-bg: $brand-success !default;
$pagination-hover-border: $brand-success !default;
//$pagination-active-color: #fff !default;
$pagination-active-bg: $brand-success !default;
$pagination-active-border: $brand-success !default;
//$pagination-disabled-color: $gray-light !default;
$pagination-disabled-bg: $backgroud-color !default;
//$pagination-disabled-border: #ddd !default;

@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

.navbar-nav {
  li.new-report > a:hover,
  li.new-report > a:focus {
    color: $almost-white;
    background-color: #449D44;
  }

  .btn {
    border-radius: 0px;
  }
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  //@extend .container;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }

section {
  //@extend .row;
  margin-top: 20px;
}
