$light-green: rgba(40, 182, 44, 1);

section.chart-area {
  ul.chart-nav li {
    a.active {
      color: $light-green;
      text-decoration: underline;
    }

    a {
      &:hover {
        color: $light-green;
      }
    }

  }

}

.wrapper {
  margin: 50px 0 50px 0;
}

h2, h3 {
  color: $light-green;
}

section {
  margin: 20px 0 0 0;
}

section.analytics {
  a { color: $light-green; }

  .news-record {
    h4, span { display: inline; }
  }
}
